.fade-up{
    animation:fadeUp .8s ease;
}

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.zoom{
animation:zoom .5s;
}

@keyframes zoom{

from{
transform:scale(.9);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}