.orders-container{
    width:90%;
    max-width:1100px;
    margin:40px auto;
}

.orders-container h1{
    text-align:center;
    margin-bottom:30px;
}

.order-card{
    background:white;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.order-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.order-status{
    color:#10b981;
    font-weight:bold;
}

.order-total{
    color:#2563eb;
    font-size:22px;
    font-weight:bold;
}

body.dark .order-card{
    background:#1e293b;
}

body.dark .orders-container h1,
body.dark .order-header{
    color:white;
}