.success-container{
    width:90%;
    max-width:700px;
    margin:70px auto;
    text-align:center;
    background:white;
    padding:50px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.success-icon{
    font-size:90px;
    color:#10b981;
    margin-bottom:20px;
}

.success-container h1{
    color:#111827;
    margin-bottom:20px;
}

.success-container p{
    color:#6b7280;
    margin-bottom:30px;
}

.home-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:17px;
}

.home-btn:hover{
    background:#1d4ed8;
}

body.dark .success-container{
    background:#1e293b;
}

body.dark .success-container h1{
    color:white;
}

body.dark .success-container p{
    color:#d1d5db;
}