*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  background:#f4f7fb;
  color:#222;
  transition:.3s;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  font-family:inherit;
}

img{
  max-width:100%;
  display:block;
}

body.dark{
  background:#0f172a;
  color:#fff;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#3b82f6;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:#e5e7eb;
}

body.dark ::-webkit-scrollbar-track{
  background:#111827;
}